spring:
  profiles:
    active: local

jwt:
  secret: YUhSMGNITTZMeTluYVhSb2RXSXVZMjl0TDFOdmVVMXBiR3N3TkRBeEwzQnZjblJtYjJ4cGIwMWhhMlZ5
  expiration: 86400000

---
spring:
  config:
    activate:
      on-profile: local

  datasource:
    url: jdbc:h2:file:./db/localdb;MODE=MySQL;AUTO_SERVER=TRUE
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

---
spring:
  config:
    activate:
      on-profile: prod

  datasource:
    url: jdbc:mysql://localhost:3306/portfolio_db?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: root
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true